<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Listings</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }

    th,
    td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .button {
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }

    button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    #pagination {
      margin-top: 20px;
    }
  </style>
</head>

<body>

  <h1>Job Listings</h1>

  <!-- select db -->
  <label for="tableFilter">Select Database:</label>
  <select id="tableFilter" onchange="fetchJobs(1)">
  </select>

  <!-- select status -->
  <label for="statusFilter">Filter by Status:</label>
  <select id="statusFilter" onchange="fetchJobs(1)">
  </select>

  <!-- table -->
  <table id="jobTable">
    <thead>
      <tr>
        <th>Job Name</th>
        <th>Links</th>
        <th>Role</th>
        <th>Description</th>
        <th>Links</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <!-- pagination -->
  <div id="pagination">
    <button id="prevPage" onclick="changePage(-1)" disabled>Previous</button>
    <span>
      Page <input id="currentPage" type="text" value="1" size="2"> out of <span id="totalPages"></span>
    </span>
    <button id="nextPage" onclick="changePage(1)" disabled>Next</button>
    <button id="goToPageButton" onclick="GoToPage()">Go To Page</button>
  </div>

  <br>
  <!-- add data -->
  <div>
    <a href="/scraper.html">
      Add new data
    </a>
    |
    <button onclick=updateData() style="">Update Data</button>
  </div>

  <script>

    let currentPage = 1;
    let totalPages = 1;
    statusOptions = [];

    // get list of job-posting tables
    async function fetchTables() {
      try {
        const response = await fetch('/tables');
        const data = await response.json();
        const dbSelect = document.getElementById('tableFilter');
        dbSelect.innerHTML = '';

        // populate table filter dropdown
        for (let i = 0; i < data.tables.length; i++) {
          const option = document.createElement('option');
          option.value = data.tables[i];
          option.text = data.tables[i];
          dbSelect.appendChild(option);
        }
      } catch (error) {
        console.error('Error fetching tables:', error);
      }
    }

    // fetch status list
    async function fetchStatusOptions() {
      try {
        const response = await fetch('/status');
        const data = await response.json();
        const statusSelect = document.getElementById('statusFilter');
        statusSelect.innerHTML = '';
        statusOptions = data.status;

        // populate status filter dropdown
        for (const status of data.status) {
          const option = document.createElement('option');
          option.value = status;
          option.text = status.charAt(0).toUpperCase() + status.slice(1);
          statusSelect.appendChild(option);
        }
      } catch (error) {
        console.error('Error fetching status options:', error);
      }
    }

    // get job postings
    async function fetchJobs(page = 1) {
      const status = document.getElementById('statusFilter').value;
      const table = document.getElementById('tableFilter').value;

      const response = await fetch(`/jobs/${status}/${table}?page=${page}&per_page=10`);
      const data = await response.json();

      if (Array.isArray(data.jobs)) {
        const tbody = document.getElementById('jobTable').getElementsByTagName('tbody')[0];
        tbody.innerHTML = '';

        // loop over job and add row
        for (const job of data.jobs) {
          const row = tbody.insertRow();
          const linksHTML = job.links
            .split(' ')
            .map(link => `<a href="${link}" target="_blank">${link}</a>`)
            .join('<br>');
          row.innerHTML = `
                        <td>${job.job_name}</td>
                        <td>
                          <a href="${job.author_link}" target="_blank">${job.author_name}</a>
                          |
                          <a href="${job.post_link}" target="_blank">Link</a>
                          </td>
                        <td>${job.role}</td>
                        <td>${job.body}</td>
                        <td>${linksHTML}</td>
                        <td>
                            <select id="status_${job.job_name}"></select>
                        </td>
                        <td>
                            <button class="button" onclick="updateJobStatus('${job.job_name}')">Update</button>
                        </td>
                    `;
          // populate status for each job
          populateStatusDropdowns(job);
        }

        // set pagination
        currentPage = page;
        totalPages = data.total_pages;
        document.getElementById('totalPages').textContent = `${totalPages}`;
        document.getElementById('currentPage').textContent = `Page ${currentPage}`;

        document.getElementById('prevPage').disabled = currentPage <= 1;
        document.getElementById('nextPage').disabled = currentPage >= totalPages;
      } else {
        console.error('Expected jobs to be an array, but got:', data.jobs);
      }
    }

    function populateStatusDropdowns(job) {
      const statusDropdown = document.getElementById(`status_${job.job_name}`);
      statusDropdown.innerHTML = '';

      for (let i = 0; i < statusOptions.length; i++) {
        const option = document.createElement('option');
        option.value = statusOptions[i];
        option.textContent = statusOptions[i].charAt(0).toUpperCase() + statusOptions[i].slice(1);
        if (statusOptions[i] === job.status) {
          option.selected = true;
        }
        statusDropdown.appendChild(option);
      }
    }

    function changePage(direction) {
      const newPage = currentPage + direction;
      if (newPage > 0 && newPage <= totalPages) {
        fetchJobs(newPage);
      }
    }

    function GoToPage() {
      const page = parseInt(document.getElementById('currentPage').value, 10);
      if (page > 0 && page <= totalPages) {
        fetchJobs(page);
      }
    }

    async function updateData() {

      const response = await fetch(`/update/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
      });

      if (response.ok) {
        alert("Update successful");
      } else {
        alert('Failed to update data');
      }
    }

    async function updateJobStatus(jobName) {
      const status = document.getElementById(`status_${jobName}`).value;
      const table = document.getElementById('tableFilter').value;

      const response = await fetch(`/jobs/update/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          job_name: jobName,
          table_name: table,
          status: status
        })
      });

      if (response.ok) {
        // alert(`Job status updated to ${status}`);
      } else {
        alert('Failed to update job status');
      }
    }

    // Fetch initial data
    window.onload = async () => {
      await fetchTables();
      await fetchStatusOptions();
      fetchJobs();
    };
  </script>

</body>

</html>