<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Listings</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

  <h1>Job Listings</h1>

  <!-- select db -->
  <label for="tableFilter">Database:</label>
  <select id="tableFilter" onchange="searchJobs(1)">
  </select>

  <!-- select status -->
  <label for="statusFilter">Status:</label>
  <select id="statusFilter" onchange="searchJobs(1)">
  </select>

  <br><br>

  <!-- search -->
  <label for="searchField">Search:</label>
  <input type="text" id="searchField" placeholder="Enter role or description...">

  <!-- tags -->
  <label for="tagsField">Tags:</label>
  <input type="text" id="tagsField" placeholder="Matches exact word">
  <button id="tagsButton" onclick="searchJobs()">Search</button>

  <br><br>

  <!-- table -->
  <table id="jobTable">
    <thead>
      <tr>
        <th>Job Name</th>
        <th>Links</th>
        <th>Role</th>
        <th>Description</th>
        <th>Links</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <!-- pagination -->
  <div id="pagination">
    <button id="prevPage" onclick="changePage(-1)" disabled>Previous</button>
    <span>
      Page <input id="currentPage" type="text" value="1" size="2"> out of <span id="totalPages"></span>
    </span>
    <button id="nextPage" onclick="changePage(1)" disabled>Next</button>
    <button id="goToPageButton" onclick="goToPage()">Go To Page</button>
  </div>

  <br>
  <!-- add data -->
  <div>
    <a href="/scraper.html">
      Add new data
    </a>
    |
    <a href="/company.html">
      List of Companies
    </a>
    |
    <button onclick=updateData()>Update Data</button>
  </div>

  <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>